.RepositoryCard {
  .position {
    grid-column: 1 / 2;
    font-size: var(--font-size-6);
    color: var(--gray-0);
    padding: var(--size-00);
    margin: var(--size-00);
    line-height: var(--font-lineheight-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-5);
  }

  h1 {
    grid-column: 1 / 11;
    font-size: var(--font-size-fluid-2);
    box-sizing: content-box;

    a {
      color: var(--blue-2);

      &:visited {
        color: var(--indigo-4);
      }
    }
  }
  &.with-position {
    h1 {
      grid-column: 2 / 12;
      padding-left: var(--size-5);
    }
  }

  .stars {
    grid-column: 12 / 13;
  }

  .user {
    grid-column: 1 / -1;
    color: var(--gray-6);
    font-size: var(--font-size-4);
  }

  .description {
    grid-column: 1 / -1;
  }

  .license {
    grid-column: 10 / -1;
    display: flex;
    justify-content: flex-end;
  }
}
